body{
    background-color: rgb(162, 211, 195);
}

.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}



/*navigator*/

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

li{
    display: inline;
    align-self: center;
    margin: 0;
    margin-left: 15px;
}

ul{
    margin: 0;
}

.site-name{
    margin: 0;
    font-size: 24px;
    color: black;
} 

.nav-menu{
    font-weight: 400;
    font-size: 24px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
    transition: 0.3s;
}

/*dashboard*/

.dashboard{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.korean-comment{
    font-weight: 500;
    font-size: 50px;
    
}

.hightlight{
    color: white;
}

.hightlight:hover{
    color: black;
    transition: none;
}

.type1:hover{
    background-color: pink;
}

.type2:hover{
    background-color: green;
}

.type3:hover{
    background-color: red;
}

.type4:hover{
    background-color: skyblue;
}

.english-comment{
    font-weight: 400;
    font-size: 15px;
}



/*footer*/

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact{
    font-size: 50px;
    font-weight: 600;
    margin: 0;
} 

.footer>p{
    font-weight: 700;
}


/*       about section      */

/*profile-section*/

.profile-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    margin: 100px 100px;
}

#profile-picture{
    width: 500px;
    margin-right: 60px;
}

.introduction>h2{
    margin: 0;

    font-size: 35px;
}

.introduction>p{
    font-weight: 300;
    font-size: 16px;

    margin-bottom: 40px;
}

#capability{
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
}

/*value section*/

.value-menu{
    font-size: 35px;
    margin: 0px 280px;
    
}

.value-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin: 10px 290px;
    margin-top: 0;
}

.value{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    align-items: center;
}

.value-icon{
    width: 100px;
    height: 100px;
    padding: 15px;
    border-radius: 100px;
}

.value-intro{
    margin-left: 30px;
}

.value-name{
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}

